@import url("./styles/UserCard.scss");
@import url("./styles/GitSearch.scss");
@import url("./styles/RepoCard.scss");
@import url("./styles/Header.scss");
@import url("./styles/AppRoutes.scss");
@import url("./styles/ButtonGroup.scss");
@import url("./styles/RepoExplorer.scss");
@import url("./styles/GitTimeline.scss");
@import url("./styles/Footer.scss");
@import url("./styles/SearchButtons.scss");

.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.bc-container-project {
  flex: 1;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 1rem;
}
